<!DOCTYPE html>
{% extends 'fApp/base.html' %}

    {% block body_block %}
    <div class="jumbotron mt-5">
        <h1>Add Item</h1>
        <form action="{% url 'add' %}" method="POST">
            <input type="text" class="form-control mb-2 mr-sm-2" name="content" placeholder="Type Here ....">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
    
    <ul class="list-group mt-5">
        {% for d in data%}
            <li class="list-group-item">
                {{d.text}}
                 <div class="float-right">
                    <form action="{% url 'delete' d.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form> 
                </div>
            </li>
            
        {% endfor%}
        
    </ul>
    {% endblock%}